.two__title {
    margin-bottom: 30px;
}

.two__subscription {
    margin-bottom: 30px;
}

.two__img_center {    
    display: block;
    margin: 0 auto;
}

.two__img {
    margin-bottom: 30px;
}

