.three__title {
    margin-bottom: 30px;
}

.three__subscription {
    margin-bottom: 30px;
}

.three__img_center {
    display: block;
    margin: 0 auto;
}

.three__img {
    margin-bottom: 30px;
    display: block;
}

.three__img:last-child {
    margin-bottom: 0;    
}